svg {
  width: 2rem;
}

p {
  margin-top: 15px;
  text-align: left;
  text-indent: 12px;
}

div.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px calc(100vh - 80px) 30px;
}

nav {
  padding: 10px;
  font-weight: 600;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.leftright {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
}

div.left {
  background-color: #E5E7EB;
  border-right: 1px solid #D1D5DB;
  padding: 10px;
  width: 25vw;
}

div.mainWrapper {
  overflow: auto;
  padding: 10px;
  width: 75vw;
}

#title {
  padding-top: 20px;
}

button:hover {
  cursor: pointer;
}

footer {
  background-color: rgba(50,50,50,1);
  border-top: 1px solid rgba(0,0,0,1);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.navSvg {
    visibility: hidden;
}

i.fa-check-square, i.fa-square {
  margin-right: 1rem;
}

button.list-group-item {
  display: flex;
  justify-content: space-between;
}

i.fa-check-square, i.fa-square, i.fa-trash-alt {
  font-size: 1.25rem;
}

@media only screen and (max-width: 768px)  {
    .navSvg {
        visibility: visible;
    }
    div.wrapper {
        display: grid;
        height: 100vh;
        grid-template-columns: 100vw;
        grid-template-rows: 50px auto 30px;
      }
    
    nav {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    div.leftright {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      flex-direction: column;
    }

    div.left {
        display: fixed;
        width: 100vw;
        border-bottom: 1px solid rgba(180,180,180,1);
        overflow: scroll;
        display: none;
    }

    div.show2 {
      display: block;
      transform-origin: top;
      animation: newName 0.5s ease-in-out;
  }
  
  @keyframes newName {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);} 
  }

    div.mainWrapper {
      width: 100vw;
    }

    footer {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}